 *{
    width: 640px;
}
.div1 img{
    display: flex;
    width: 91px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 30px;
    margin-left: 30px;
}
.div2 a{
    text-decoration: none;
    color: #2B2B2B;
    padding: 40px;
} 
.div2{
    margin-left: 1400px;
    margin-top: -15px;
}
.div3{
    width: 1300px;
    color: var(--text-text-primary, #2A2A2A);
text-align: center;
font-family: Poppins;
font-size: 65.34px;
font-style: normal;
font-weight: 600;
line-height: 82px; 
margin-left: 250px;
}
section p{
    width: 1300px;
    color: var(--text-text-secondary, #2B2B2B);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
margin-left: 210px;

}
.div4{
    display: flex;
    width: 251px;
    height: 56px;
    padding: 16px;
    justify-content: center;
    align-items: flex-end;
    border: 1px solid #285E67 ;
    gap: 16px;
    flex-shrink: 0; 
    border-radius: 67px;
    color: aliceblue;
background: var(--color-brand-green, #285E67);
margin-left: 680px;
}
 .img{
    margin-left: 150px;
    margin-top: 90px;
 }
 .img1{
    margin-left: 850px;
    margin-top: -600px;
 }
 .div5{
    width: 1350px;
height: 446px;
flex-shrink: 0;
background-color: #e7e5e5;
margin-left: 150px;
margin-top: 40px;
 }
 .div6{
    color: var(--text-text-secondary, #2B2B2B);
font-family: Poppins;
font-size: 50.52px;
font-style: normal;
font-weight: 600;
line-height: 62px; 
margin-left: 50px;
padding: 50px;
}
.div8{
    height: 110.538px;
align-self: stretch;
    color: var(--text-text-secondary, #2B2B2B);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */  
}
.div9{
    width: 58px;
    height: 57px;
}
.div7{
    margin-top: -270px;
    margin-left: 240px;
}
.div11{
    width: 58px;
    height: 57px;
}
.div10{
    margin-top: -199px;
    margin-left: 490px;
}
.div13{
    width: 291px;
height: 294px;
margin-left: 1140px;
margin-top: -239px;
}
@media (max-width:800px) {
   
    .main {
      width: 1000%;
      padding: 0;
    }
    .right {
      width: 1000%;
    }
    .div13{
        opacity: 0;
    }
  }
